
<!-- ###EVENT_CONTAINER### begin -->
<div class="devnull-eventview">
<h2 class="eventview-title">###EVENT_STARTDATE### ###EVENT_TITLE###</h2>
<div class="eventview-content">
	###EVENT_CONTENT###
</div>
</div>
<!-- ###EVENT_CONTAINER### end -->

<!-- ###ORGANIZER_ENTRY### begin -->
<ul class="devnull-organizer-list">
<li class="devnull-organizer-caption">Veranstalter:</li>
<li class="devnull-organizer-entry">###ORGANIZER_LABEL###</li>
</ul>
<!-- ###ORGANIZER_ENTRY### end -->

<!-- ###LOCATION_ENTRY### begin -->
<ul class="devnull-location-list">
<li class="devnull-location-caption">Ort:</li>
<li class="devnull-location-entry">###LOCATION_LABEL###</li>
</ul>
<!-- ###LOCATION_ENTRY### end -->

<!-- ###INSTRUCTOR_LIST### -->
<ul class="devnull-instr-list">
<li class="devnull-instr-caption">Tauchlehrer:</li>
<!-- ###INSTRUCTOR_ENTRY### -->
	<li class="devnull-instr-entry">###FIRST_NAME###</li>
<!-- ###INSTRUCTOR_ENTRY### -->
</ul>
<!-- ###INSTRUCTOR_LIST### -->

<!-- ###SCHEDULE_LIST### -->
<ul class="devnull-schedule-list">
	<li class="devnull-schedule-caption">Kurszeiten:</li>
<!-- ###SCHEDULE_ENTRY### -->
	<li class="devnull-schedule-entry">###SCHEDULE_SCHEDULE### ###SCHEDULE_TITLE######SCHEDULE_CONTENT###</li>
<!-- ###SCHEDULE_ENTRY### -->
</ul>
<!-- ###SCHEDULE_LIST### -->

